[Unit]
Description=Poll EA for new Pro Clubs data hourly

[Timer]
OnCalendar=hourly
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
